<% case rrtype %>
<% when DNS::RRTYPE_TO_VALUE["A"] %>
    <div class="col">
        <%= form.label :ip_address, "IP Address" %>
        <%= form.text_field :ip_address, 
            class: "form-control inline-form-control", 
            placeholder: "192.168.1.42", 
            pattern: "[0-9.]+",
            autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
    </div>
<% when DNS::RRTYPE_TO_VALUE["AAAA"] %>
    <div class="col">
        <%= form.label :ipv6_address, "IP Address" %>
        <%= form.text_field :ipv6_address, 
            class: "form-control inline-form-control", 
            placeholder: "fc00::42", 
            pattern: "[a-f0-9:]+",
            autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
    </div>
<% when DNS::RRTYPE_TO_VALUE["TXT"] %>
    <div class="col">
        <%= form.label :text, "Text" %>
        <%= form.text_field :text, 
            class: "form-control inline-form-control", 
            placeholder: "ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn", 
            pattern: ".+",
            autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
    </div>
<% when DNS::RRTYPE_TO_VALUE["CNAME"] %>
    <div class="col">
        <%= form.label :domain_name, "Domain Name" %>
        <%= form.text_field :domain_name, 
            class: "form-control inline-form-control", 
            placeholder: "myhost.mydomain", 
            pattern: ".+",
            autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
    </div>
<% end %>

