<div class="row">
  <div class="col">
    <h2>.<%= @zone.name %></h2>
  </div>
</div>

<div class="row justify-content-center" align="center">
  <% @supported_rrtypes.each do |rrtype| %>
    <div class="col flex-grow-0">
      <a class="btn btn-<%= rrtype.eql?(@desired_rrtype) ? "primary" : "secondary" %> rrtype-picker-item" href=<%="/domain/#{@zone.id}?rrtype=#{rrtype}"%>><%= rrtype %></a>
    </div>
  <% end %>
</div>

<%= form_with(url: "/domain/#{@zone.id}", method: :post, local: true, class: "
row 
d-flex 
flex-sm-row 
align-items-sm-end 
align-items-center
justify-content-center 
justify-content-sm-between
flex-column
shadow p-3 mb-5 bg-white rounded
") do |form| %>
  <%= form.hidden_field :rrtype, value: @desired_rrtype %>
  <%= form.hidden_field :rrclass, value: "IN" %>
  <%= form.hidden_field :ttl, value: "60" %>
  <% unless @desired_rrtype.eql? "NS" %>
    <div class="col">
      <%= form.label :hostname, "Hostname" %>
      <div class="input-group">
        <%= form.text_field :hostname, class: "form-control inline-form-control", pattern: "[^.]+", placeholder: "myhost (no dots)", title: "Format: no dots", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
        <div class="input-group-append">
          <div class="input-group-text"><%= ".#{@zone.name}" %></div>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= render :partial => "rdata_fields", :locals => {"rrtype": DNS::RRTYPE_TO_VALUE[@desired_rrtype], "form": form} %>

  <div class="col flex-grow-0 mt-2 m-sm-0"><%= form.submit "Add", class: "btn btn-primary m-auto m-sm-0 d-block d-sm-inline" %></div>
<% end %>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <th>Hostname</th>
      <th>Type</th>
      <th>Record Content</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @host_records.each do |h| %>
        <tr>
          <% if h.rrtype == DNS::RRTYPE_TO_VALUE["NS"] %>
            <td><%= h.name %></td>  
          <% else %>
            <td><%= h.name[0..(h.name.length - 1 - @zone.name.length - 1)] %></td>
          <% end %>
          <td><%= DNS::VALUE_TO_RRTYPE[h.rrtype] %></td>
          <td><%= h.rdata[h.rdata.keys[0]] %></td>
          <td>
            <%= form_with(url: "/domain/#{@zone.id}/#{h.id}", method: :delete) do |form| %>
              <%= form.submit "Delete", class: "btn btn-outline-secondary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col" align="center">
    <a href="/soa/<%= @zone.id %>" class="btn btn-primary">View SOA</a>
  </div>
</div>