<% @servers.each do |s| %>
  <h2 class="mb-3"><%= s.hostname.nil? ? s.id : s.hostname %></h2>
  <h4>Server Information</h4>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>Domain Name</th>
          <th>IP Address</th>
          <th></th>
        </thead>
        <tbody>
        <tr>
          <td><%= s.hostname.nil? ? "<Unset>" : s.hostname %></td>
          <td><%= s.ip_address.nil? ? "<Unset>" : s.ip_address %></td>
          <td align="center">
            <% if Task.task_pending_for? "RELOAD_ZONES", s.id %>
              <span class="badge rounded-pill bg-primary">Refreshing</span>
            <% else %>
              <%= form_with(url: "/server/#{s.id}/refresh", method: :post, class: "cdns-not-full-width") do |form| %>
                <%= form.submit "Refresh", class: "btn btn-primary domain-view-button", disabled: !s.task.where(done: false).empty?%>
              <% end %>
            <% end %>
            <a href="<%="/server/#{s.id}" %>"><button class="btn btn-outline-secondary">Edit</button></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h4>Server Status</h4>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>Domain</th>
          <th>Serial</th>
        </thead>
        <tbody>
          <% s.server_authority_state.each do |ss| %>
            <tr>
              <td><%= ss.soa_name %></td>
              <td><%= ss.soa_serial %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>