<div class="card">
  <div class="card-body">
    <div class="header-grid">
      <div class="badge bg-primary header-mid">ID: <%= message["header"]["id"] %></div>
      <div class="badge bg-secondary header-qr"><%= message["header"]["qr"] ? "R" : "Q" %></div>
      <div class="badge bg-secondary header-opcode">OPCODE: <%= message["header"]["opcode"] %></div>
      <div class="badge bg-secondary header-aa <%= !message["header"]["aa"] ? "opacity-50" : "" %>">AA</div>
      <div class="badge bg-secondary header-tc <%= !message["header"]["tc"] ? "opacity-50" : "" %>">TC</div>
      <div class="badge bg-secondary header-rd <%= !message["header"]["rd"] ? "opacity-50" : "" %>">RD</div>
      <div class="badge bg-secondary header-ra <%= !message["header"]["ra"] ? "opacity-50" : "" %>">RA</div>
      <div class="badge bg-secondary header-z opacity-50">Z</div>
      <div class="badge bg-<%= message["header"]["qr"] ?  (message["header"]["rcode"] == 0 ? "success" : "danger") : "secondary" %> header-rcode">
        RCODE: <%= message["header"]["rcode"] %>
      </div>
      <div class="header-qdcount">QDCOUNT: <%= message["header"]["qdcount"] %></div>
      <div class="header-ancount">ANCOUNT: <%= message["header"]["ancount"] %></div>
      <div class="header-nscount">NSCOUNT: <%= message["header"]["nscount"] %></div>
      <div class="header-arcount">ARCOUNT: <%= message["header"]["arcount"] %></div>
    </div>
  </div>
</div>