<div class="card message-card">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col flex-grow-0"><div class="badge bg-primary">ID: <%= message["header"]["id"] %></div></div>
    </div>
    <div class="row justify-content-center">
      <div class="col flex-grow-0"><div class="badge bg-secondary"><%= message["header"]["qr"] ? "R" : "Q" %></div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary">OPCODE: <%= DNS::VALUE_TO_OPCODE[message["header"]["opcode"]] %></div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary <%= !message["header"]["aa"] ? "opacity-50" : "" %>">AA</div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary <%= !message["header"]["tc"] ? "opacity-50" : "" %>">TC</div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary <%= !message["header"]["rd"] ? "opacity-50" : "" %>">RD</div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary <%= !message["header"]["ra"] ? "opacity-50" : "" %>">RA</div></div>
      <div class="col flex-grow-0"><div class="badge bg-secondary opacity-50">Z</div></div>
      <div class="col flex-grow-0"><div class="badge 
      bg-<%= message["header"]["qr"] ? (message["header"]["rcode"] == 0 ? "success" : "danger") : "secondary" %> 
      <%= message["header"]["qr"] ? "" : "opacity-50" %>">
        RCODE: <%= DNS::VALUE_TO_RCODE[message["header"]["rcode"]] %>
      </div></div>
    </div>
    <div class="row justify-content-center">
      <div class="col flex-grow-0"><div class="badge bg-secondary 
      <%= message["header"]["qdcount"] > 0 ? "" : "opacity-50" %>">QDCOUNT: <%= message["header"]["qdcount"] %></div></div>

      <div class="col flex-grow-0"><div class="badge bg-secondary 
      <%= message["header"]["ancount"] > 0 ? "" : "opacity-50" %>">ANCOUNT: <%= message["header"]["ancount"] %></div></div>

      <div class="col flex-grow-0"><div class="badge bg-secondary 
      <%= message["header"]["nscount"] > 0 ? "" : "opacity-50" %>">NSCOUNT: <%= message["header"]["nscount"] %></div></div>

      <div class="col flex-grow-0"><div class="badge bg-secondary 
      <%= message["header"]["arcount"] > 0 ? "" : "opacity-50" %>">ARCOUNT: <%= message["header"]["arcount"] %></div></div>
    </div>

    <hr />
    <div class="row justify-content-center"><div class="col">
      <h6 class="text-center">Question</h6>
      <ol class="message-section-code">
      <% message["question"].each do |q| %>
        <li><%= "#{q["qname"]} 
          #{DNS::value_to_rrtype q["qtype"]} 
          #{DNS::value_to_rrclass q["qclass"]}" %>
        </li>
      <% end %>
      </ol>
    </div></div>

    <% ["answer", "authority", "additional"].each do |rrsection| %>
    <hr />
    <div class="row justify-content-center">
      <div class="col">
      <h6 class="text-center"><%= rrsection.humanize %></h6>
      <ol class="message-section-code">
        <% message[rrsection].each do |rr| %>
          <li><%= render partial: "rr", object: rr %></li>
        <% end %>
      </ol>
      </div>
    </div>
    <% end %>
  </div>
</div>