<div class="card">
  <div class="card-body">
    <div class="header-grid">
      <div class="badge bg-primary header-mid">ID: <%= message["header"]["id"] %></div>
      <div class="header-qr"><%= message["header"]["qr"] ? "R" : "Q" %></div>
      <div class="header-opcode">OPCODE: <%= message["header"]["opcode"] %></div>
      <div class="<%= "header-aa header-grid-flag-#{(message["header"]["aa"] ? "present" : "absent")}" %>">AA</div>
      <div class="<%= "header-tc header-grid-flag-#{(message["header"]["tc"] ? "present" : "absent")}" %>">TC</div>
      <div class="<%= "header-rd header-grid-flag-#{(message["header"]["rd"] ? "present" : "absent")}" %>">RD</div>
      <div class="<%= "header-ra header-grid-flag-#{(message["header"]["ra"] ? "present" : "absent")}" %>">RA</div>
      <div class="header-z header-grid-flag-absent">Z</div>
      <div class="header-rcode">RCODE: <%= message["header"]["rcode"] %></div>
      <div class="header-qdcount">QDCOUNT: <%= message["header"]["qdcount"] %></div>
      <div class="header-ancount">ANCOUNT: <%= message["header"]["ancount"] %></div>
      <div class="header-nscount">NSCOUNT: <%= message["header"]["nscount"] %></div>
      <div class="header-arcount">ARCOUNT: <%= message["header"]["arcount"] %></div>
    </div>
  </div>
</div>