<div class="row m-3">
  <h1>Query Trace</h1>
</div>

<% if @servers.empty? %>
  <p>You have no servers configured. Go set one up, then come back here.</p>
<% else %>
<%= form_with url: "/qtrace", class: "row 
  d-flex 
  flex-sm-row 
  align-items-sm-end 
  align-items-center
  justify-content-center 
  justify-content-sm-between
  flex-column
  m-3
  card card-body bg-light
  ", method: :post, local: true do |form| %>
  <div class="col">
    <%= form.label :qname, "Domain name" %>
    <%= form.text_field :qname, class: "form-control", placeholder: "comfydns.com", autocomplete: "off" %>
  </div>
  <div class="col">
    <%= form.label :qtype, "Query Type" %>
    <%= form.select :qtype, @supported_qtypes, {}, class: "form-select", autocomplete: "off" %>
  </div>
  <% if @servers.size > 1 %>
    <div class="col">
    <%= form.label :server_id, "Server" %>
    <%= form.select :server_id, @servers.map{|s| s.id}, {}, class: "form-select", autocomplete: "off" %>
  <% else %>
    <%= form.hidden_field :server_id, value: @servers[0].id %>
  <% end %>
  <div class="col-2 mt-2 m-sm-0">
    <%= form.submit "Trace", class: "btn btn-primary m-auto m-sm-0 d-block d-sm-inline" %>
  </div>
<% end %>
<% end %>

<div class="row justify-content-center">
  <div class="col-6">
    <table class="table">
      <thead>
        <th>Query</th>
        <th>Action</th>
      </thead>
      <tbody>
      <% @traces.each do |trace| %>
      <tr>
        <td><%= "#{trace.qname} #{trace.qtype} #{trace.qclass}" %></td>
        <td><a href=<%= "/qtrace/#{trace.id}" %> class="button">View</a></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>