<div class="row m-3">
  <h1>Query Trace</h1>
</div>

<% if @servers.empty? %>
  <p>You have no servers configured. Go set one up, then come back here.</p>
<% else %>
<%= form_with url: "/qtrace", class: "row 
  d-flex 
  flex-sm-row 
  align-items-sm-end 
  align-items-center
  justify-content-center 
  justify-content-sm-between
  flex-column
  m-3
  card card-body bg-light
  ", method: :post, local: true do |form| %>
  <div class="col">
    <%= form.label :qname, "Domain name" %>
    <%= form.text_field :qname, class: "form-control", placeholder: "comfydns.com", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
  </div>
  <div class="col flex-grow-0">
    <%= form.label :qtype, "Query Type" %>
    <%= form.select :qtype, @supported_qtypes, {}, class: "form-select trace-qtype-select", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
  </div>
  <% if @servers.size > 1 %>
    <div class="col">
    <%= form.label :server_id, "Server" %>
    <%= form.select :server_id, @servers.map{|s| s.id}, {}, class: "form-select", autocomplete: "off", autocorrect: "off", autocapitalize: "off", spellcheck: "off" %>
  <% else %>
    <%= form.hidden_field :server_id, value: @servers[0].id %>
  <% end %>
  <div class="col flex-grow-0 mt-2 m-sm-0">
    <%= form.submit "Trace", class: "btn btn-primary m-auto m-sm-0 d-block d-sm-inline" %>
  </div>
<% end %>
<% end %>

<div class="row justify-content-center">
  <div class="col trace-list-table-col">
    <table class="table">
      <thead>
        <th>Query</th>
        <th>Date</th>
        <th>Action</th>
      </thead>
      <tbody>
      <% @traces.each do |trace| %>
      <tr>
        <td><%= "#{trace.qname} #{DNS::value_to_rrtype trace.qtype} #{DNS::value_to_rrclass trace.qclass}" %></td>
        <td><%= trace.created_at %></td>
        <td>
          <a href="<%= "/qtrace/#{trace.id}" %>" class="btn btn-primary">View</a>
          <button type="button" class="btn btn-outline-secondary delete-zone-form"  data-bs-toggle="modal" data-bs-target="#deleteTraceModal-<%= trace.id %>">Delete</button>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% @traces.each do |trace| %>
  <div class="modal fade" id="deleteTraceModal-<%= trace.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteTraceModal-<%= trace.id %>Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <%= form_with url: "/qtrace/#{trace.id}", method: :delete do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTraceModal-<%= trace.id %>Label">Delete Trace</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>  
        <div class="modal-body">
          <p>Please confirm you want to delete this trace. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit "Delete", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>