<div class="accordion-item">
  <h2 class="accordion-header" id=<%= "heading-#{trace_event.id}" %>>
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#collapse-#{trace_event.id}" %> aria-expanded="false" aria-controls=<%= "collapse-#{trace_event.id}" %>>
      <span><%= trace_event.event_type.gsub(/_/, " ").humanize.gsub(/[sS][Nn]ame/, "SName") %></span>
      <%= render partial: "event_badge_list", object: trace_event %>
    </button>
  </h2>
  <div id=<%= "collapse-#{trace_event.id}" %> class="accordion-collapse collapse" aria-labelledby="<%= "heading-#{trace_event.id}" %>" data-bs-parent="#eventsAccordion">
    <div class="accordion-body">
      <% case trace_event.event_type 
        when "UPSTREAM_QUERY_RESULT" %>
        <% if trace_event.event.has_key? "result" %>
          <%= render partial: "message", object: trace_event.event["result"] %>
        <% else %>
          <h6><%= trace_event.event["error"]["type"] %>:</h6>
          <p><%= trace_event.event["error"]["message"] %></p>
          <code><%= trace_event.event["error"]["stack"] %></code>
        <% end %>
        <% when "UPSTREAM_QUERY_SENT" %>
          <%= render partial: "message", object: trace_event.event["sent"] %>
        <% when "SUBQUERY_SENT" %>
          <%= render partial: "message", object: trace_event.event["sent"] %>
        <% when "SUBQUERY_RESULT" %>
          <%= render partial: "message", object: trace_event.event["result"] %>
        <% when "ANSWER_ADDED" %>
          <div class="message-section-code">
            <%= render partial: "rr", object: trace_event.event["answerRecord"] %>
          </div>
        <% when "SNAME_CHANGE" %>
          <span><%= trace_event.event["oldSName"] %> → <%= trace_event.event["newSName"] %>
        <% when "RESPONSE" %>
          <%= render partial: "message", object: trace_event.event["response"] %>
        <% when "REMARK" %>
          <p><%= trace_event.event["remark"] %></p>
        <% when "NEGATIVE_CACHE_USE" %>
          Found cached negative: <span class="message-section-code"><%= "#{trace_event.event["sName"]} 
          #{DNS::value_to_rrtype trace_event.event["qType"]} 
          #{DNS::value_to_rrclass trace_event.event["qClass"]}" %></span>
        <% when "EXCEPTION" %>
          <h6><%= trace_event.event["error"]["type"] %>:</h6>
          <p><%= trace_event.event["error"]["message"] %></p>
          <code><%= trace_event.event["error"]["stack"] %></code>
        <% else %>
          <code>
          <%= trace_event.event %>
          </code>
      <% end %>
    </div>
  </div>
</div>